<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li><a href="/allProducts">all Products</a></li>
                <li><a href="/myCard">myCard</a></li>
            </ul>
        </nav>
    </header> -->
    <%- include('./layout/header') %> 

    <main>
        <div class="allCardMain">
        <% data.forEach(element=>{ %>
            <div class="allCards">
            <h4> <span> name: </span> <%= element.name %> </h4>
            <img src="<%= element.image_link %> " alt="">
            <h4> <span>price:</span> <%= element.price %> </h4>
            <h4> <span>description:</span>  <%= element.description %> </h4>
            <form action="/myCard" method="POST">
                <input type="hidden" name="name" value="<%= element.name %> ">
                <input type="hidden" name="image_link" value="<%= element.image_link %> ">
                <input type="hidden" name="price" value="<%= element.price %> ">
                <input type="hidden" name="description" value="<%= element.description %> ">
                <button>Add to my Card</button>
            </form>

        </div>
            <% }) %> 
        </div>
    </main>
    <%- include('./layout/footer') %> 

</body>
</html>