<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li><a href="/allProducts">all Products</a></li>
                <li><a href="/myCard">myCard</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="detailDiv">
            <h4> name : <%= element.name %> </h4>
                <img src="<%= element.image_link %> " alt="">
                <h4> price : <%= element.price %> </h4>
                <h4> description : <%= element.description %> </h4>
        </div>
        <form action="/delete/<%= element.id %> " method="POST">
        <button>DELETE</button>
        </form>
        <button id="updateBtn">UPDATE</button>
        <form action="/update/<%= element.id %> " method="POST" id="updateForm">
        <input type="text" name="name" value="<%= element.name %>">
        <input type="text" name="image_link" value="<%= element.image_link %>">
        <input type="text" name="price" value="<%= element.price %>">
        <input type="text" name="description" value="<%= element.description %>">
        <button>update</button>
        </form>
    </main>
    <footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="../app.js"></script>
    </footer>
</body>
</html>