<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li><a href="/allProducts">all Products</a></li>
                <li><a href="/myCard">myCard</a></li>
                <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/styles.css">
            </ul>
        </nav>
    </header> -->
    <%- include('./layout/header') %> 

    <main>
        <div class="allCardMain">
            
            <% data.forEach(element=>{ %>
                <div class="allCards">

                <h4>name: <%= element.name %> </h4>
                <img src="<%= element.image_link %> " alt="">
                <h4>name: <%= element.price %> </h4>
                <h4>name: <%= element.description %> </h4>
                </div>
                <% }) %> 
        </div>
    </main>
    <%- include('./layout/footer') %> 

    
</body>
</html>